---
layout: list
---
<div class="container">
  <ul style = "text-align: center"> <h1>BLOG</h1> </ul>
  <ul class="posts">
    {% for post in site.posts %}
    <li><span><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <time class="pull-right post-list">{{ post.date | date_to_string | date: "%b %-d, %Y"  }}</time>
        </span>
    </li>
    {% endfor %}
  </ul>
   <section id="categories_tag">
            <span class="categories_tag">
                {% for tag in site.tags %}<a href="/show_by_tag.html?tag={{ tag[0] }}"> <u>{{ tag[0] }}</u>&nbsp;&nbsp;</a>{% endfor %}
            </span>
   </section>
</div>



