<aside>
  <div class="row">
    <div class="col-md-12 text-center">
        {% if page.path contains '_posts' %}
        <h1 class="text-center" style="margin-top:0px">&nbsp;<a href="/blog" class="icon icon-back"></a></h1>
        {% else %}
        <h1 class="text-center" style="margin-top:0px">&nbsp;<a href="/" class="icon icon-back"></a></h1>
        {% endif %}
  	</div>
  </div>

  <div class="row">
      <div id="social-wrapper">
        <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1221352295&verifier=45ddb58d&dpc=1"></iframe>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
        <ul class="left-nav">
        {% for link in site.navigation %}
          <li class="left-nav-item">
            <a href="{{link.url}}">{{link.text}}</a>
          </li>
        {% endfor %}
        </ul>
  	</div>
  </div>	
</aside>