.justified {
    text-align: justify;
}

.publish-tag {
    color: #aaa;
    padding-bottom: 10px;
}

.image-center {
    margin: 0 auto;
}

p {
    font-size: 18px;
    padding-right: 60px
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
}


.container > header {
	color: #2672EC;
}


.tile {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
	height: 160px;
}

.tile > .title {
  margin-top: 0px;
}

.purple, .blue, .red, .orange, .green {
    color: #fff;
}

.purple {
    background: #5133AB;
}

.red {
    background: #FF0080;
}

.green {
    background: #00A600;
}

.blue {
    background: #007fff;
}

.orange {
    background: #DC572E;
}

.left-nav {
    margin-bottom: 20px;
    list-style: none;
}

.left-nav-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    font-size: 18px;
}

.left-nav > li > a,
.left-nav > li > a:hover,
.left-nav > li > a:focus {
    color: #fff;
    text-decoration:none;
}

.alink {
    font-size: 18px;
}

.tags {
  text-align: justify;
}

li.purple > a,
li.purple > a:hover,
li.purple > a:focus {
    color: #fff;
    background: #5133AB;
    text-decoration: none;
}

li.blue > a,
li.blue > a:hover,
li.blue > a:focus {
    color: #fff;
    background: #007fff;
    text-decoration: none;
}

li.red > a,
li.red > a:hover,
li.red > a:focus {
    color: #fff;
    background: #AC193D;
    text-decoration: none;
}

li.orange > a,
li.orange > a:hover,
li.orange > a:focus {
    color: #fff;
    background: #DC572E;
    text-decoration: none;
}

li.green > a,
li.green > a:hover,
li.green > a:focus {
    color: #fff;
    background: #00A600;
    text-decoration: none;
}

.btn-purple {
    color: #fff;
    background: #5133AB;
}

.btn-blue {
    color: #fff;
    background: #007fff;
}

.btn-red {
    color: #fff;
    background: #AC193D;
}

.btn-orange {
    color: #fff;
    background: #DC572E;
}

.btn-green {
    color: #fff;
    background: #00A600;
}

a.purple-link,
a.purple-link:hover,
a.purple-link:focus{
    color: #5133AB;
}

a.red-link,
a.red-link:hover,
a.red-link:focus {
    color: #AC193D;
}

a.green-link,
a.green-link:hover,
a.green-link:focus {
    color: #00A600;
}

a.blue-link,
a.blue-link:hover,
a.blue-link:focus {
    color: #007fff;
}

a.orange-link,
a.orange-link:hover,
a.orange-link:focus {
    color: #DC572E;
}

.icon {
    background-image: url("../images/icon.png");
    background-repeat: no-repeat;
    list-style: none outside none;
}

.icon-back{background-position:-966px -40px ; width: 48px ; height: 48px;display:inline-block;text-decoration:none}


.friends
{
  border-left:solid 2px #bc0005
}

.friends-button
{
  background-color:#bc0005
}

.friends:hover
{
  border-left:solid 2px #f40006
}

.friends-button:hover
{
  background-color:#f40006
}

.programming
{
  border-left:solid 2px #7dbcb2
}

.programming-button
{
  background-color:#7dbcb2
}

.programming:hover
{
  border-left:solid 2px #bbe9e2
}

.programming-button:hover
{
  background-color:#bbe9e2
}

.tech
{
  border-left:solid 2px #644539
}

.tech-button
{
  background-color:#644539
}

.tech:hover
{
  border-left:solid 2px #F4A273
}

.tech-button:hover
{
  background-color:#F4A273
}

.design
{
  border-left:solid 2px #9e9599
}

.design-button
{
  background-color:#9e9599
}

.design:hover
{
  border-left:solid 2px #cfe0ea
}

.design-button:hover
{
  background-color:#cfe0ea
}

.podcasts
{
  border-left:solid 2px #387b94
}

.podcasts-button
{
  background-color:#387b94
}

.podcasts:hover
{
  border-left:solid 2px #2FD0EF
}

.podcasts-button:hover
{
  background-color:#2FD0EF
}

#menu-toggle,.project-post div
{
  display:none
}

#article h1,#article h2,#article h3
{
  color:#3a3a3a
}

.user-card
{
  max-width:800px;
}

.user-card h1
{
  font-family:"Helvetica Neue", helvetica, "Open Sans",sans-serif;
  font-weight:bolder;
  font-size:2.5em;
  line-height:55px;
  color:#352D2E
}

.user-card p
{
  color:#c4c4c4;
  font-size:small
}

.index-content .section { padding-top:0px; padding-right:15%; ;}

.index-content .article-list { margin:0 }
.index-content .article-list li { 
  margin-bottom:10px; 
}

.index-content .article-list h3 {
  font-size: 18px;
}
.index-content .title-desc {color:#999;font-size:14px;line-height:1.6em;}

.index-content .article-cate { width:70%; margin:0 auto; }
.index-content .article-cate li { 
  display:inline-block; 
  *float:left; 
  zoom:1; 
  font-size:20px; 
  width:32%; 
  cursor:pointer; 
  font-weight:3em; 
  text-align: center;
  background-color: #46A3FF;
  border-left:solid 5px #46A3FF
}
.index-content .article-cate li a,
.index-content .article-cate li a:visited { display:inline-block; zoom:1; color:#FFFFFF; width:100%; }
.index-content .article-cate li a:hover { text-decoration:none; }
.index-content .article-cate li.on span{ color:red; }

.index-content .cate-bar { height:3px; margin:0 auto;margin-bottom:100px; }
.index-content #cateBar { display:inline-block; zoom:1; height:3px; background:red; position:relative; width:0; }

#social-wrapper
{
  padding:20px 0;
  padding-left: 20px
}

#social-wrapper a
{
  text-indent:20px;
  color:#FCFCFC
}

#social-wrapper li
{
  font-size:20px;
  text-indent:0;
  word-spacing:10px
}

#social-wrapper a:hover
{
  transition:all .3s ease 0
}
